---
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
import articleImg from "../assets/article.jpg";
---

<Layout title="Bağlar necə salınır?">
  <Heading title="Bağlar necə salınır?" />
  <article class="lg:pt-17 lg:pb-38 py-12.5 container mx-auto max-lg:px-5">
    <Image src={articleImg} alt="article" loading="eager" class="rounded-md" />
    <h1
      class="text-xl font-semibold tracking-wider mt-2.5 lg:mt-7.5 lg:mb-4.5 mb-1.5 text-center"
    >
      Bağlar necə salınır?
    </h1>
    <div class="text-base font-light tracking-wider text-[#363131] text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum. There are many variations of passages of Lorem Ipsum available, but
      the majority have suffered alteration in some form, by injected humour, or
      randomised words which don't look even slightly believable. If you are
      going to use a passage of Lorem Ipsum, you need to be sure there isn't
      anything embarrassing hidden in the middle of text. All the Lorem Ipsum
      generators on the Internet tend to repeat predefined chunks as necessary,
      making this the first true generator on the Internet. It uses a dictionary
      of over 200 Latin words, combined with a handful of model sentence
      structures, to generate Lorem Ipsum which looks reasonable. The generated
      Lorem Ipsum is therefore always free from repetition, injected humour, or
      non-characteristic words etc.
    </div>
  </article>
</Layout>
