---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Article from "../components/Article.astro";
---

<Layout title="Bloqlar">
  <Heading title="Bloqlar" />
  <main
    class="container grid grid-cols-1 pb-15 lg:pb-24 mx-auto pt-12.5 lg:pt-15 lg:grid-cols-3 lg:gap-x-7.5 lg:gap-y-12.5 gap-5"
  >
    <Article />
    <Article />
    <Article />
  </main>
</Layout>
