---
import Advantages from "../components/home/Advantages.astro";
import Hero from "../components/home/Hero.astro";
import Products from "../components/home/Products.astro";
import WhoWe from "../components/home/Who-We.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/home/Services.astro";
---

<Layout title="Home">
  <main>
    <Hero />
    <Products />
    <WhoWe />
    <Advantages />
    <Services />
  </main>
</Layout>
