---
import Article from "../Article.astro";
---

<section class="container mx-auto pb-23 max-lg:px-5">
  <h1 class="mb-5 text-2xl font-semibold tracking-wider text-center lg:mb-18">
    Bloqlar
  </h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-7.5">
    <Article />
    <Article />
    <Article />
  </div>
</section>
