---
import Product from "../Product.astro";
---

<section class="py-12.5 lg:pb-20 lg:pt-15 max-lg:px-5 container mx-auto">
  <h2 class="text-xl font-semibold tracking-wider text-center lg:text-2xl">
    Məhsullarımız
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-5 lg:mt-3.5 max-lg:mb-7.5 gap-9 lg:gap-17.5 gap-y-7.5"
  >
    <Product />
    <Product />
    <Product />
    <Product />
  </div>
  <div class="text-center lg:hidden">
    <a
      href="#"
      class="text-[#346E65] underline text-sm font-medium tracking-wider"
    >
      Bütün məhsullar
    </a>
  </div>
</section>
