---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import { Icon } from "astro-icon/components";
const year = new Date().getFullYear();
---

<footer class="bg-[#363131] pt-7.5 md:pt-10 pb-14.5 md:pb-6 max-md:px-5">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <div class="max-md:hidden">
        <Image src={logo} alt="logo" width={180} height={180} loading="eager" />
      </div>
      <div class="flex flex-col items-end gap-14.5 md:gap-15 mt-7.5">
        <div>
          <a
            href="#"
            download
            class="border-[2px] rounded-sm border-[#346E65] text-[#346E65] hover:bg-[#346E65]/10 px-13 py-4 text-xl font-semibold tracking-wider duration-300"
          >
            Kataloqu endir
          </a>
        </div>
        <div
          class="[&>a]:text-lg [&>a]:text-white flex items-center gap-12 max-md:flex-wrap [&>a]:hover:text-[#346E65] [&>a]:duration-300"
        >
          <a href="#"> Haqqımızda </a>
          <a href="#"> Məhsullar </a>
          <a href="#"> Blog </a>
          <a href="#"> Qalereya </a>
          <a href="#"> Əlaqə </a>
        </div>
      </div>
    </div>
    <hr class="bg-[#F9F9F9] border-none h-px max-md:mt-7.5" />
    <div
      class="flex items-center justify-center md:justify-between text-sm md:text-base tracking-wider text-white pt-7"
    >
      <div class="md:hidden"></div>
      <p class="font-[Montserrat]">&copy; {year} <a href="/">AL Group</a></p>
      <div
        class="flex items-center gap-5 [&>a]:hover:text-[#346E65] [&>a]:duration-300 max-md:hidden"
      >
        <a href="https://www.facebook.com/" target="_blank">
          <Icon name="ri:facebook-fill" size={24} />
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <Icon name="ri:linkedin-fill" size={24} />
        </a>
        <a href="https://www.x.com/" target="_blank">
          <Icon name="ri:twitter-fill" size={24} />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <Icon name="ri:instagram-fill" size={24} />
        </a>
        <a href="https://www.youtube.com/" target="_blank">
          <Icon name="ri:youtube-fill" size={26} />
        </a>
      </div>
    </div>
  </div>
</footer>
