---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import { Icon } from "astro-icon/components";
const year = new Date().getFullYear();
---

<footer class="bg-[#363131] pt-7.5 lg:pt-10 pb-14.5 lg:pb-6 max-lg:px-5">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <a href="/" class="max-lg:hidden">
        <Image src={logo} alt="logo" width={180} height={180} loading="eager" />
      </a>
      <div class="flex flex-col items-end gap-10.5 lg:gap-11">
        <div>
          <a
            href="#"
            download="kataloq"
            class="border-[2px] rounded-md border-[#346E65] text-[#346E65] hover:bg-[#346E65]/10 px-13 py-4 text-xl font-semibold tracking-wider duration-300 inline-block"
          >
            Kataloqu endir
          </a>
        </div>
        <div
          class="[&>a]:text-lg [&>a]:text-white flex items-center gap-12 max-lg:flex-wrap [&>a]:hover:text-[#346E65] [&>a]:duration-300"
        >
          <a href="/about">Haqqımızda</a>
          <a href="/products">Məhsullar</a>
          <a href="/blog">Bloq</a>
          <a href="/gallery">Qalereya</a>
          <a href="/contact">Əlaqə</a>
        </div>
      </div>
    </div>
    <hr class="bg-[#F9F9F9] border-none h-px max-lg:mt-7.5" />
    <div
      class="flex items-center justify-center text-base tracking-wider text-white lg:justify-between pt-7"
    >
      <div class="lg:hidden"></div>
      <p class="font-[Montserrat]">&copy; {year} <a href="/">AL Group</a></p>
      <div
        class="flex items-center gap-5 [&>a]:hover:text-[#346E65] [&>a]:duration-300 max-lg:hidden"
      >
        <a href="https://www.facebook.com/" target="_blank">
          <Icon name="ri:facebook-fill" size={24} />
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <Icon name="ri:linkedin-fill" size={24} />
        </a>
        <a href="https://www.x.com/" target="_blank">
          <Icon name="ri:twitter-fill" size={24} />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <Icon name="ri:instagram-fill" size={24} />
        </a>
        <a href="https://www.youtube.com/" target="_blank">
          <Icon name="ri:youtube-fill" size={26} />
        </a>
      </div>
    </div>
  </div>
</footer>
