---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import mobileNav from "../assets/mobile-nav.svg";
import close from "../assets/close.svg";
import { Icon } from "astro-icon/components";
---

<nav
  x-data="{open: false}"
  x-init="window.innerWidth < 768 ? open = false : open = true"
  @click.away="window.innerWidth < 768 ? open = false : open = true"
  x-bind:class="`relative max-lg:px-5 max-lg:pt-5 ${open ? 'max-lg:bg-[#F1F5F7] max-lg:h-screen' : 'max-lg:bg-[#F5F5F7]'}`"
>
  <div
    class="container flex items-center mx-auto max-lg:flex-col max-lg:gap-5 lg:justify-between max-lg:flex-wrap"
  >
    <div class="flex items-center justify-between w-full">
      <a href="/">
        <Image
          src={logo}
          alt="logo"
          class="size-17.5 lg:size-45"
          loading="eager"
        />
      </a>
      <div
        class="flex items-center gap-5 text-base [&>a]:hover:text-[#346E65] [&>a]:hover:underline [&>a]:duration-300 lg:hidden"
        x-show="open"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      >
        <a href="#" class="underline text-[#346E65]">Az</a>
        <a href="#">Ru</a>
        <a href="#">En</a>
      </div>
      <button type="button" @click="open = !open" class="lg:hidden">
        <Image src={mobileNav} alt="menu" loading="eager" x-show="!open" />
        <Icon name="ri:close-line" size={24} color="#346E65" x-show="open" />
      </button>
    </div>
    <div
      x-show="open"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="flex flex-col gap-5 lg:gap-6 max-lg:w-full"
    >
      <div class="flex justify-between lg:items-center max-lg:flex-col">
        <form action="#" class="max-w-sm max-lg:min-w-full join">
          <input
            type="search"
            name="search"
            class="input join-item border-0 py-3.5 rounded-md focus:outline-none bg-white! max-lg:bg-[#F1F1F1] text-sm tracking-wider font-light"
            placeholder="Axtar"
          />
          <button
            type="submit"
            class="btn btn-text join-item rounded-md py-2.5 px-5 lg:px-6 bg-white! max-lg:bg-[#F1F1F1] opacity-80"
          >
            <Icon
              name="si:search-line"
              size={24}
              color="#346E65"
              class="opacity-80"
            />
          </button>
        </form>
        <div
          class="flex items-center gap-5 text-base [&>a]:hover:text-[#346E65] [&>a]:hover:underline [&>a]:duration-300 max-lg:hidden"
        >
          <a href="#" class="underline text-[#346E65]">Az</a>
          <a href="#">Ru</a>
          <a href="#">En</a>
        </div>
      </div>
      <div
        class="flex gap-3 text-lg lg:items-center lg:gap-15 max-lg:flex-col lg:text-base [&>a]:hover:text-[#346E65] [&>a]:duration-300"
      >
        <a href="/about">Haqqımızda</a>
        <a href="/products">Məhsullar</a>
        <a href="/blog">Bloq</a>
        <a href="/gallery">Qalereya</a>
        <a href="/contact">Əlaqə</a>
        <div class="flex items-center gap-5 mt-2 lg:hidden">
          <a href="https://www.facebook.com/" target="_blank">
            <Icon name="ri:facebook-fill" size={24} />
          </a>
          <a href="https://www.linkedin.com/" target="_blank">
            <Icon name="ri:linkedin-fill" size={24} />
          </a>
          <a href="https://www.x.com/" target="_blank">
            <Icon name="ri:twitter-fill" size={24} />
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <Icon name="ri:instagram-line" size={24} />
          </a>
          <a href="https://www.youtube.com/" target="_blank">
            <Icon name="si:youtube-line" size={26} />
          </a>
        </div>
        <div class="flex items-center gap-3 lg:hidden max-lg:mt-2.5">
          <Icon name="solar:phone-bold" size={24} color="#346E65" />
          <a href="tel:+994505553644" class="text-base">+994 50 555 36 44</a>
        </div>
      </div>
    </div>
  </div>
</nav>
