---
import Image from "astro/components/Image.astro";
import fruit from "../assets/fruit.png";
---

<div class="text-center group">
  <div
    class="group-hover:outline group-hover:outline-solid outline-[#346E65] rounded-md duration-300 relative"
  >
    <Image src={fruit} alt="fruit" loading="eager" />
    <a
      href="#"
      class="absolute inset-x-0 bottom-9 bg-[#346E65] rounded-md text-white text-lg font-medium px-11 py-2.5 w-fit mx-auto opacity-0 group-hover:opacity-100 duration-300"
    >
      Ətraflı
    </a>
  </div>
  <a href="#">
    <h3
      class="text-sm font-semibold tracking-wider lg:text-2xl mt-4 lg:mt-7 mb-2.5 lg:mb-3.5"
    >
      Armud
    </h3>
    <div class="text-base font-light tracking-wider text-[#363131]">
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s to make a type specimen book.
    </div>
  </a>
</div>
